################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mahios241.Server/obj
/.vs
/mahios241.client/.vscode
